node_modules
public/*
dist
build
!public/.gitkeep
!public/privacy-policy.html
!public/privacy-policy/
!public/privacy-policy/index.html
.env
.env.test

package-lock.json
yarn.lock
yarn-error.log

/src/config/sentry.js

# Ignore test-related files
/coverage.data
/coverage/
